<!DOCTYPE html>
<html>
  <head>
    <title>Obento</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="main_header">
  		<h1>お弁当</h1>
  	</header>
  	<nav class="global_nav">
  		<ul>
  			<li><a href="/">注文履歴</a></li>
  			<li><a href="/doctors">先生一覧</a></li>
  			<li><a href="/bentos">お弁当の一覧</a></li>
  		</ul>
  	</nav>
    <%= yield %>
  </body>
</html>
